@import "tailwindcss";

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade {
  animation: fade 1.2s ease-in-out infinite;
}

* {
  box-sizing: border-box;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE ve Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scroll-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-right {
  animation: scroll-right 60s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

.active {
  background-color: #0096c7;
  color: #fff;
  font-weight: bold;
}
